<footer>
    <div class="footer-content" id="footer-content">
      <div class="content-section">
        <p class="foot-title">Horário de funcionamento</p>
        <p class="foot-description">Segunda 10:30-17:00</p>
        <p class="foot-description">Terça - Sexta 9:00-17:00</p>
        <p class="foot-description">Sábado 10:30-13:30</p>
      </div>
      <div class="content-section">
        <p class="foot-title">Contato</p>
        <p class="foot-subtitle">Endereço:</p>
        <p class="foot-description">Rua Princesa Isabel, 602</p>
        <p class="foot-description">Cidade Alta, Natal-RN</p>
        <p class="foot-subtitle phone">Telefone:</p>
        <p class="foot-description">(84) 98810-5945</p>
      </div>
      <div class="content-section">
        <a target="_blank" class="footer-link" href="https://www.facebook.com/paninihousern/"
          ><i class="fab fa-2x fa-facebook"></i
        ></a>
        <a target="_blank" class="footer-link" href="https://www.instagram.com/paninihousern/"
          ><i class="fab fa-2x fa-instagram"></i
        ></a>
      </div>
    </div>

  </footer>
  <script src="script.js"></script>
</body>
</html>