<div id="bebidas" data-tab-content class="menu-items">
    <div class="item">
        <p class="item-title">REFRIGERANTE LATA</p>
        <p class="item-content">
            Consultar opções.
        </p>
        <p class="item-price">R$ 5</p>
    </div>
    <div class="item">
        <p class="item-title">ÁGUA S/ GÁS</p>
        <p class="item-content">
            500ml
        </p>
        <p class="item-price">R$ 3</p>
    </div>
    <div class="item">
        <p class="item-title">ÁGUA C/ GÁS</p>
        <p class="item-content">
            500ml
        </p>
        <p class="item-price">R$ 3,50</p>
    </div>
    <div class="item">
        <p class="item-title">SUCO POLPA</p>
        <p class="item-content">
            Abacaxi, Acerola, Cajá, Cajú, Goiaba, Graviola, Maracujá, Uva.
        </p>
        <p class="item-price">R$ 4</p>
        <p class="item-price">
            Extra leite - R$ 1
        </p>
        <p class="item-price">
            Extra hortelã - R$ 0,50
        </p>
    </div>
    <div class="item">
        <p class="item-title">SUCO NATURAL</p>
        <p class="item-content">
            Laranja e Limão.
        </p>
        <p class="item-price">R$ 5</p>
    </div>
    <div class="item">
        <p class="item-title">CHÁ GELADO CASEIRO 400ml.</p>
        <p class="item-content">
            Ameixa, Manga & Maracujá e Laranja & Limão.
            
        </p>
        <p class="item-price">R$ 5</p>
    </div>
    <div class="item">
        <p class="item-title">CERVEJA LONG NECK</p>
        <p class="item-content">
            Consultar opções.
        </p>
        <p class="item-price">R$ 7</p>
    </div>
    <div class="item">
        <p class="item-title">CERVEJA LATA</p>
        <p class="item-content">
            Consultar opções.
        </p>
        <p class="item-price">R$ 5</p>
    </div>
    <div class="item">
        <p class="item-title">REFRIGERANTE 600ML</p>
        <p class="item-content">
            Consultar opções.
        </p>
        <p class="item-price">R$ 7</p>
    </div>
    <div class="item">
        <p class="item-title">REFRIGERANTE 1L</p>
        <p class="item-content">
            Consultar opções.
        </p>
        <p class="item-price">R$ 8</p>
    </div>
      
</div>