<div id="massas" data-tab-content class="menu-items active">
    <div class="item">
      <p class="item-title">PARMEGIANA</p>
      <p class="item-content">
        Filé de carne à milanesa ao molho de tomate caseiro com queijo
        muçarela gratinado.
      </p>
      <p class="item-price">R$ 23</p>
    </div>
    <div class="item">
      <p class="item-title">FORMAGGIO</p>
      <p class="item-content">
        Camarão e palmito ao molho de queijo com queijo muçarela gratinado.
      </p>
      <p class="item-price">R$ 25</p>
    </div>
    <div class="item">
      <p class="item-title">CAMARÃO PESTO</p>
      <p class="item-content">
        Camarão com brócolis, couve flor e tomates assados e queijo coalho
        ao molho pesto de manjericão.
      </p>
      <p class="item-price">R$ 25</p>
    </div>
    <div class="item">
      <p class="item-title">CARBONARA TRADICIONAL</p>
      <p class="item-content">
        Bacon crocante ao molho cremoso de ovos, queijo e creme de leite.
      </p>
      <p class="item-price">R$ 17</p>
    </div>
    <div class="item">
      <p class="item-title">CARBONARA DE CARNE</p>
      <p class="item-content">
        Carne de sol desfiada com bacon crocante ao molho cremoso de
        carbonara.
      </p>
      <p class="item-price">R$ 19</p>
    </div>
    <div class="item">
      <p class="item-title">FRANGO GENOVA</p>
      <p class="item-content">
        Filezinhos de frango com vagem e tomates assados em molho pesto de
        manjericão.
      </p>
      <p class="item-price">R$ 16</p>
    </div>
    <div class="item">
      <p class="item-title">ALFREDO</p>
      <p class="item-content">
        Filezinhos de frango empanados, bacon, palmito e molho de queijo.
      </p>
      <p class="item-price">R$ 22</p>
    </div>
    <div class="item">
      <p class="item-title">PARMEGIANA DE FRANGO</p>
      <p class="item-content">
        Filezinhos de frango empanados, molho de tomate caseiro e queijo
        muçarela gratinado.
      </p>
      <p class="item-price">R$ 20</p>
    </div>
  </div>