<div id="arroz" data-tab-content class="menu-items">
    <div class="item">
      <p class="item-title">NORDESTINO</p>
      <p class="item-content">
        Carne de sol desfiada com camarão ao molho quatro queijos. Servido com arroz cremoso tradicional, queijo gratinado e macaxeira frita.
      </p>
      <p class="item-price">R$ 25</p>
    </div>
    <div class="item">
        <p class="item-title">FRANGO CREMOSO</p>
        <p class="item-content">
            Frango em cubos com couve flor e brócolis ao molho quatro queijos. Servido com arroz cremoso tradicional, batata frita e queijo muçarela gratinado.
        </p>
        <p class="item-price">R$ 20</p>
    </div>
    <div class="item">
        <p class="item-title">À GREGA</p>
        <p class="item-content">
            Camarão empanado com arroz à grega, molho de tomate, batata frita e queijo muçarela gratinado.
        </p>
        <p class="item-price">R$ 25</p>
    </div>
    <div class="item">
        <p class="item-title">INTERNACIONAL</p>
        <p class="item-content">
            Camarão ao molho quatro queijos. Servido com arroz cremoso tradicional, batata frita e queijo muçarela gratinado.
        </p>
        <p class="item-price">R$ 25</p>
    </div>
    <div class="item">
        <p class="item-title">PROVINCIAL</p>
        <p class="item-content">
            Carne de sol desfiada com queijo coalho ao molho quatro queijos. Servido com arroz cremoso tradicional, cebola crocante e macaxeira frita.
        </p>
        <p class="item-price">R$ 22</p>
    </div>
    <div class="item">
        <p class="item-title">CAMARÃO EMPANADO</p>
        <p class="item-content">
            Camarão empanado com batata frita, arroz e mini salada. Acompanha molho.
        </p>
        <p class="item-price">R$ 22</p>
    </div>
    <div class="item">
        <p class="item-title">FRANGO E FRITAS</p>
        <p class="item-content">
            Filezinhos de frango com batata frita, arroz e mini salada. Acompanha molho.
        </p>
        <p class="item-price">R$ 18</p>
    </div>
    <div class="item">
        <p class="item-title">CARNE COM VEGETAIS</p>
        <p class="item-content">
            Carne de sol desfiada com queijo coalho, batata rústica, arroz e vegetais assados no forno. Acompanha molho.
        </p>
        <p class="item-price">R$ 22</p>
    </div>
    <div class="item">
        <p class="item-title">FALAFEL COM FRITAS</p>
        <p class="item-content">
            Falafel de grão de bico com batata frita, arroz e mini salada. Acompanha molho.
        </p>
        <p class="item-price">R$ 17</p>
    </div>
    <div class="item">
        <p class="item-title">FRANGO COM VEGETAIS</p>
        <p class="item-content">
            Filezinhos de frango com arroz, batata rústica e vegetais assados no forno. Acompanha molho.
        </p>
        <p class="item-price">R$ 20</p>
    </div>
    

</div>