<div id="acompanhamentos" data-tab-content class="menu-items">
    <div class="item">
        <p class="item-title">VEGETAIS ASSADOS</p>
        <p class="item-content">
            Brócolis, couve flor, cenoura e vagem assados no forno.
        </p>
        <p class="item-price">R$ 10</p>
    </div>
    <div class="item">
        <p class="item-title">MACAXEIRA FRITA</p>
        <p class="item-content">
            Macaxeira frita com maionese caseira.
        </p>
        <p class="item-price">R$ 8</p>
    </div>
    <div class="item">
        <p class="item-title">BATATA FRITA</p>
        <p class="item-content">
            Batata frita com maionese caseira.
        </p>
        <p class="item-price">R$ 8</p>
    </div>
    <div class="item">
        <p class="item-title">BATATA RÚSTICA</p>
        <p class="item-content">
            Batatas rústicas assadas no forno com ervas. Servido com molho ranch.
        </p>
        <p class="item-price">R$ 10</p>
    </div>
    <div class="item">
        <p class="item-title">ARROZ CREMOSO</p>
        <p class="item-content">
            Arroz branco ou integral cremoso com bacon, palmito e cebola crocante.
        </p>
        <p class="item-price">R$ 10</p>
    </div>
    <div class="item">
        <p class="item-title">MINI SALADA</p>
        <p class="item-content">
            Alface, tomate, pepino e falafel (esfarelado) com molho ranch.
        </p>
        <p class="item-price">R$ 6</p>
    </div>
    <div class="item">
        <p class="item-title">FALAFEL</p>
        <p class="item-content">
            Falafel com molho ranch.
        </p>
        <p class="item-price">R$ 12</p>
    </div>
</div>