<div id="saladas" data-tab-content class="menu-items">
    <div class="item">
        <p class="item-title">FILÉ DE FRANGO</p>
        <p class="item-content">
            Filezinhos de frango, salada mix, ovos cozidos e cebola crocante. Acompanha molho.
        </p>
        <p class="item-price">R$ 16</p>
      </div>
      <div class="item">
        <p class="item-title">CREAM CHEESE</p>
        <p class="item-content">
            Filezinhos de frango com bacon, cream cheese, salada mix e ovos cozidos. Acompanha molho.
        </p>
        <p class="item-price">R$ 18</p>
      </div>
      <div class="item">
        <p class="item-title">SERTANEJA</p>
        <p class="item-content">
            Carne de sol desfiada com queijo coalho, salada mix, batatas rústicas e cebola crocante. Acompanha molho.
        </p>
        <p class="item-price">R$ 18</p>
      </div>
      <div class="item">
        <p class="item-title">CAMARÃO</p>
        <p class="item-content">
            Camarão com salada mix, falafel (esfarelado) e cebola crocante. Acompanha molho.
        </p>
        <p class="item-price">R$ 21</p>
      </div>
      <div class="item">
        <p class="item-title">TILÁPIA</p>
        <p class="item-content">
            Filé de tilápia na manteiga, salada mix, gorgonzola e falafel (esfarelado).
        </p>
        <p class="item-price">R$ 22</p>
      </div>
      <div class="item">
        <p class="item-title">TILÁPIA RÚSTICA</p>
        <p class="item-content">
            Filé de tilápia na manteiga. Servido com salada mix, ovos cozidos, batatas rústicas e cebola crocante. Acompanha molho.
        </p>
        <p class="item-price">R$ 22</p>
      </div>
      <div class="item">
        <p class="item-title">FALAFEL</p>
        <p class="item-content">
            Falafel de grão de bico com salada mix e cebola crocante. Acompanha molho.
        </p>
        <p class="item-price">R$ 16</p>
      </div>
      <div class="item">
        <p class="item-title">COUVE</p>
        <p class="item-content">
            Couve flor assado, batata rústica, salada mix e gorgonzola. Acompanha molho.
        </p>
        <p class="item-price">R$ 16</p>
      </div>
  </div>